<%= form_with url: path, local: true, method: method do |form| %>
  <%= form.hidden_field :parent_id, value: @parent_id %>

  <div class="row">
    <div class="col-auto">
      <%= form.label "Titulo", for: :description, class: "form-label" %>
      <%= form.text_field :description, value: @task&.description, placeholder: "Buscar crianças na escola",  class: "form-control", required: true %>
    </div>
    <% if @parent_id.nil? %>
      <div class="col-auto">
        <%= form.label "Data da tarefa", for: :date, class: "form-label" %>
        <%= form.datetime_field :date, value: @time_value, class: "form-control", min: Time.zone.today.to_date %>
      </div>
    <% end %>
  </div>
  <div class="row mt-3">
    <div class="col-auto">
      <button type="submit", class="form-control btn btn-primary">
        <%= @task.nil? ? "Criar" : "Salvar" %>
      </button>
    </div>
  </div>
<% end %>