<article class="task-wrapper">
  <div class="task-container d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex justify-content-between align-items-center gap-3 task">
      <i class="bi bi-check-circle-fill fs-5 <%= task_presenter.status_class_icon %>"></i>
      <h5 class="m-0 fw-normal <%= task_presenter.done? ? "line-through" : ""%>"><%= task_presenter.description %></h5>
      <span class="<%= task_presenter.status_class_badge %>"><%= task_presenter.status_translated %></span>
    </div>
    <div class="actions d-flex align-items-center gap-4">
      <%= link_to '+ Adicionar subtarefa', new_task_path(parent_id: task_presenter.task_id), class: "btn" %>
      <a href="#" class="text-secondary"><i class="bi bi-pencil-fill fs-5"></i></a>
      <a href="#" class="text-danger fw-bold"><i class="bi bi-x-lg fs-5"></i></a>
    </div>
  </div>
  <article class="subtasks-container">
  <% if task_presenter.has_sub_task? %>
    <% task_presenter.sub_tasks.each do |sub_task| %>
        <div class="subtask ps-3 pe-3 pb-2">
          <div class="d-flex align-items-center gap-3 task-box">
            <div class="d-flex justify-content-between align-items-center gap-3 task-description">
              <i class="bi bi-check-circle-fill fs-6 <%= sub_task.status_class_icon %>"></i>
              <h5 class="m-0 fw-light fs-6 <%= sub_task.done? ? "line-through" : ""%>"><%= sub_task.description %></h5>
              <span class="<%= sub_task.status_class_badge %>"><%= sub_task.status_translated %></span>
            </div>
            <div class="actions d-flex align-items-center gap-4">
              <a href="#" class="text-secondary"><i class="bi bi-pencil-fill fs-6"></i></a>
              <a href="#" class="text-danger fw-bold"><i class="bi bi-x-lg fs-6"></i></a>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
  </article>
</article>
<hr>