<main class="tasks-container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
        <%= value %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <header class="header-task">
    <div class="d-flex align-items-center">
      <i class="bi bi-list-task fs-4 me-2 mt-1"></i>
      <h5 class="m-0 title">Lista de Tarefas</h5>
    </div>

    <%= link_to 'Nova tarefa', new_task_path, class: "btn btn-primary" %>
  </header>
  <hr class="mt-2">

  <main class="days-sections-container">
    <% @show_tasks_days.each do |tasks_day| %>
        <section class="day-section">
          <h5 class="title m-0"><%= tasks_day[:label_day] %></h5>
          <section class="tasks-box p-3">
            <% if tasks_day[:tasks_presenters].empty? %>
              <h6 class="text-black-50 fw-normal">Nenhuma tarefa prevista</h6>
            <% else %>
              <% tasks_day[:tasks_presenters].each do |task_presenter| %>
                <%= render partial: "tasks/task_wrapper", locals: { task_presenter: task_presenter } %>
              <% end %>
            <% end %>
          </section>
        </section>
    <% end %>
  </main>
</main>