<main class="tasks-container">
  <header class="header-task">
    <div class="d-flex align-items-center">
      <i class="bi bi-list-task fs-4 me-2 mt-1"></i>
      <h5 class="m-0 title">Nova Tarefa</h5>
    </div>
    <%= link_to 'Voltar', tasks_path %>
  </header>
  <hr class="mt-2">

  <%= form_with url: tasks_path, local: true do |form| %>
    <div class="row">
      <div class="col-auto">
        <%= form.label "Titulo", for: :description, class: "form-label" %>
        <%= form.text_field :description, placeholder: "Buscar crianças na escola",  class: "form-control" %>
      </div>
      <div class="col-auto">
        <%= form.label "Data da tarefa", for: :date, class: "form-label" %>
        <%= form.date_field :date, class: "form-control"%>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-auto">
        <%= form.submit "Criar", class: "form-control btn btn-primary"%>
      </div>
    </div>
  <% end %>
</main>